In [2]:
import pandas as pd

# read raw data
path = "purchase_data.csv" 
raw_data_df = pd.read_csv(path, encoding="UTF-8")
raw_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [25]:
# FIND PLAYER COUNT
# code sourced from https://stackoverflow.com/questions/15943769/how-do-i-get-the-row-count-of-a-pandas-dataframe

total_rows = raw_data_df["Purchase ID"].count()
f"Total Number of Players: {total_rows}"

'Total Number of Players: 780'

In [26]:
# FIND PURCHASING ANALYSIS TOTALS
# number of unique items
unique_items_list = raw_data_df["Item ID"].unique()
unique_items_count = len(unique_items_list)
f"Total Number of Unique Items: {unique_items_count}"

'Total Number of Unique Items: 179'

In [31]:
# FIND GENDER DEMOGRAPHICS
gender_demo_df = raw_data_df["Gender"].value_counts()
print("Breakdown of Players by Gender:")
gender_demo_df

Breakdown of Players by Gender:

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [46]:
# FIND PURCHASING ANALYSIS STATS BROKEN DOWN BY GENDER
# Purchase Count by Gender
purchase_count_by_gender = raw_data_df["Gender"].value_counts()
print(purchase_count_by_gender)

# Average Purchase Price by Gender
# assign a new dataframe with only columns Gender and Price from the raw data dataframe
gender_purchases_df = raw_data_df["Gender", "Price"]
avg_grouped_price_by_gender = gender_purchases_df.groupby('Gender').mean()
avg_grouped_price_by_gender

# Total Purchase Value by Gender
sum_grouped_price_by_gender = gender_purchases_df.groupby('Gender').sum()
sum_grouped_price_by_gender

# Average Purchase Total per Person by Gender
avg_grouped_price_per_person_by_gender = raw_data.groupby(["SN", "Gender"]).mean()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

KeyError: ('Gender', 'Price')

In [ ]:
# FIND AGE DEMOGRAPHICS
#